
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>NEW API</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://sdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
  </head>
  <body>
      <section class="hero is-primary">
          <div class="hero-body">
              <div class="conteiner">
                  <div class="row">
                      <h1>HALAMAN MANTAP</h1>
                      {% for title, desc, i in mylist%}
                      <span>{{title}}</span>
                      <img src="{{i}}" alt="">
                      <span class='subtitle'>{{desc}}</span>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </srction>  
      <script src="" async defer></script>
  </body>
</html>